<!-- eslint-disable @angular-eslint/template/elements-content -->
 <main>

     <div class="jc-elevator">
         <div id="myBtn" class="jc-floor">
             <h3>404</h3>
            </div>
            <div id="doors" class="jc-doors">
                <div>Oops. Wrong floor.</div>
                <div>Are you lost? Press down button<br> to go back to the <a href="#">lobby</a>. Or press up button<br></div>
            </div>
            <div class="jc-switch">
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </div>
        
    </main>