<div class="header" style="display: flex; justify-content: space-evenly; align-items: center; text-align: start; position: relative;">
    <div style="display: flex; flex-direction: column; gap: 5px; align-items: center; justify-content: center;">
        <img style="width: 475px;" src="assets/images/App-desk.png" alt="AppDesk Logo">
        <h1 style="font-size: 48px; line-height: 56px; color: #232323; font-weight: 500; margin-bottom: 50px;">
            World's Largest AI Admission Portal <br>
        </h1>
        
    </div>
     <img style="height: 399px; width: 320px;" src="assets/images/student4.png" class="card-img" alt="University of Bolton">

   

    <div class="info-bar" style="border-radius: 9px; align-items: center; display: flex; height: 21%; position: absolute; bottom: -39px; background: url(assets/images/arrow-effect.png), linear-gradient(180deg, #2E318C, #222466); background-size: auto; background-position: center; justify-content: space-around; text-align: center; max-width: 88%; margin-left: auto; margin-right: auto; box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.15);">
        <div style="display: flex; gap: 3px; justify-content: center; align-items: center;">
            <span style="font-size: 40px; font-weight: 700;">15+</span>
            <span style="font-size: 20px; font-weight: 600;">Years Of Experience</span>
        </div>
        <div style="display: flex; gap: 3px; justify-content: center; align-items: center;">
            <span style="font-size: 40px; font-weight: 700;">150+</span>
            <span style="font-size: 20px; font-weight: 600;">Top Universities</span>
        </div>
        <div style="display: flex; gap: 3px; justify-content: center; align-items: center;">
            <span style="font-size: 40px; font-weight: 700;">22,400+</span>
            <span style="font-size: 20px; font-weight: 600;">Top Courses</span>
        </div>
    </div>
</div>


<div class="container " style="margin-top: 100px ;">
<h1 class="mb-4">Upcoming <span class="text-danger">Events</span></h1>

<div id="eventCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <img src="assets/images/pic1.webp" class="card-img" alt="University of Bolton">
                        <div class="card-img-overlay d-flex flex-column justify-content-end" 
                        style="  background: linear-gradient(90deg, rgb(45 52 139 / 90%) 30%, transparent 90%); ">
                            <h5 class="card-title">Comming Soon</h5>
                        <p class="card-text event-date"><i class="bi bi-calendar"></i> </p>
                            <p class="card-text event-time"><i class="bi bi-clock"></i></p> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <img src="assets/images/pic2.webp" class="card-img" alt="University of Tulsa">
                        <div class="card-img-overlay d-flex flex-column justify-content-end" 
                        style="  background: linear-gradient(90deg, rgb(45 52 139 / 90%) 30%, transparent 90%); ">
                            <h5 class="card-title">Comming Soon</h5>
                            <p class="card-text event-date"><i class="bi bi-calendar"></i> </p>
                            <p class="card-text event-time"><i class="bi bi-clock"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <!-- Second slide content (copy of the first slide for demonstration) -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <img src="assets/images/pic3.webp" class="card-img" alt="University of Bolton">
                        <div class="card-img-overlay d-flex flex-column justify-content-end" style="  background: linear-gradient(90deg, rgb(45 52 139 / 90%) 30%, transparent 90%);
                    
                        ">
                            <h5 class="card-title">Comming Soon</h5>
                            <p class="card-text event-date"><i class="bi bi-calendar"></i> </p>
                            <p class="card-text event-time"><i class="bi bi-clock"></i> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <img src="assets/images/pic4.webp" class="card-img" alt="University of Tulsa">
                        <div class="card-img-overlay d-flex flex-column justify-content-end" 
                        style="  background: linear-gradient(90deg, rgb(45 52 139 / 90%) 30%, transparent 90%);
                    
                        ">
                            <h5 class="card-title">Comming Soon</h5>
                            <p class="card-text event-date"><i class="bi bi-calendar"></i> </p>
                            <p class="card-text event-time"><i class="bi bi-clock"></i></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="carousel-item">
            <!-- Second slide content (copy of the first slide for demonstration) -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <img src="assets/images/pic5.webp" class="card-img" alt="University of Bolton">
                        <div class="card-img-overlay d-flex flex-column justify-content-end" style="  background: linear-gradient(90deg, rgb(45 52 139 / 90%) 30%, transparent 90%);
                    
                        ">
                            <h5 class="card-title">Comming Soon</h5>
                            <p class="card-text event-date"><i class="bi bi-calendar"></i></p>
                            <p class="card-text event-time"><i class="bi bi-clock"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <img src="assets/images/pic6.webp" class="card-img" alt="University of Tulsa">
                        <div class="card-img-overlay d-flex flex-column justify-content-end" style="  background: linear-gradient(90deg, rgb(45 52 139 / 90%) 30%, transparent 90%);
                    
                        ">
                            <h5 class="card-title">Comming Soon </h5>
                            <p class="card-text event-date"><i class="bi bi-calendar"></i> </p>
                            <p class="card-text event-time"><i class="bi bi-clock"></i> </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Add more carousel-items here for additional slides if needed -->
    </div>
    <div class="text-center mt-3" style="display: flex; justify-content: end;">
        <button class="custom-carousel-control me-2" type="button" data-bs-target="#eventCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="custom-carousel-control" type="button" data-bs-target="#eventCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</div>
<div class="container mt-5  mb-5">
<h1 class="text-center partner-title mt-5">150+ Partner Universities Worldwide</h1>
<div id="partnerCarousel" class="carousel slide partner-grid" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
                    <div class="col"><div class="partner-card"><img src="assets/images/aim-logo.svg" alt="GBS Dubai"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/ATMC_Tagline_Web-Logo_MED.png" alt="APAC"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/BSB_LOGO_AND_YOUTH_Burgundy.png" alt="Holmes Institute"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/CAT_Logo_Alt copy.png" alt="Washington State University"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/cmtn_logo.png" alt="PFH"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/geneva-logo.svg" alt="GBS Malta"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/ibt-new-logo-1.png" alt="MLA College"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/vcc-logo-dark-green.svg" alt="FAU"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/TSoM_PrimaryLogo_Horizontal_Colour_Red_RGB.svg" alt="University of Leicester"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/site-logo.svg" alt="Aberystwyth University"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/qm-logo-white copy.png" alt="Schiller"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/new-logo.jpg" alt="Ecole de Management"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/menu-logo.png" alt="RIT"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/logo_vistula_en copy.png" alt="RIT"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/logo-excelia-business-school-blanc.png" alt="RIT"></div></div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
                    <div class="col"><div class="partner-card"><img src="assets/images/logo-iig-25.png" alt="GBS Dubai"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/logo.svg" alt="APAC"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/aim-logo.svg" alt="GBS Dubai"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/ATMC_Tagline_Web-Logo_MED.png" alt="APAC"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/BSB_LOGO_AND_YOUTH_Burgundy.png" alt="Holmes Institute"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/CAT_Logo_Alt copy.png" alt="Washington State University"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/cmtn_logo.png" alt="PFH"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/geneva-logo.svg" alt="GBS Malta"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/ibt-new-logo-1.png" alt="MLA College"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/vcc-logo-dark-green.svg" alt="FAU"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/TSoM_PrimaryLogo_Horizontal_Colour_Red_RGB.svg" alt="University of Leicester"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/site-logo.svg" alt="Aberystwyth University"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/qm-logo-white copy.png" alt="Schiller"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/new-logo.jpg" alt="Ecole de Management"></div></div>
                    <div class="col"><div class="partner-card"><img src="assets/images/menu-logo.png" alt="RIT"></div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-0" style="display: flex; justify-content: end;">
        <button class="custom-carousel-control me-2" type="button"data-bs-target="#partnerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="custom-carousel-control" type="button" data-bs-target="#partnerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="text-center">
    <button class="btn view-more-btn mb-2">View More</button>
</div>
</div>
<div class="container mt-5" style="display: none;">
<h1>Your one-stop shop for <span class="pink-text">academic solution</span></h1>

<div class="mb-4">
    <button class="btn btn-outline  active_btn">Financial Assistance</button>
    <button class="btn btn-outline">Discover Student Accommodation</button>
    <button class="btn btn-outline">Global Insurance Solutions</button>
    <button class="btn btn-outline">Affordable International Flights</button>
</div>

<div class="content-box">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="assets/images/app_deskFinance.webp" alt="Financial assistance" class="content-image img-fluid w-100">
        </div>
        <div class="col-md-6">
            <div class="content-text">
                <h2><span class="pink-text">AppDesk</span>Finance</h2>
                <p>Access scholarships through our subsidiary, AppDesk Finance, and free yourself from financial burdens to explore study abroad opportunities.</p>
                <button class="btn btn-outline">Know More</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container mt-5 " style="margin-bottom: 100px;">
<h1 class="text-center mb-4">Experience end-to-end assistance on a <span style="color: red;">Single Platform</span></h1>

<div class="card-container">
    <div class="card">
        <img src="assets/images/student-bg.png" class="card-img" alt="Students">
        <div class="card-img-overlay">
            <h5 class="card-title text-white">Students</h5>
            <div class="card-content">
                <p class="card-text text-white">Access resources and support for your academic journey.</p>
                <button class="btn btn-pink mt-2">Know More</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/University-Partner-platform.jpg" class="card-img" alt="Recruitment partners">
        <div class="card-img-overlay">
            <h5 class="card-title text-white">Recruitment partners</h5>
            <div class="card-content">
                <p class="card-text text-white">Connect with top talent and institutions worldwide.</p>
                <button class="btn btn-pink mt-2">Know More</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/Recruitment-Partner-platform-1.jpg" class="card-img" alt="University Partners">
        <div class="card-img-overlay">
            <h5 class="card-title text-white">University Partners</h5>
            <div class="card-content">
                <p class="card-text text-white">Strengthen your global reach with our partnership network.</p>
                <button class="btn btn-pink mt-2">Know More</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container mt-5" style="display: none;">
<h1 class="text-center mb-4">Let us find your Academic <span style="color: red;">Home Abroad</span></h1>

<div id="countryCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="assets/images/UK.webp" class="card-img" alt="UK">
                        <img src="assets/images/united-kingdom.png" class="flag-icon" alt="UK flag">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-white">Study in UK</h5>
                            <button class="btn btn-pink">Know More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="assets/images/USA.webp" class="card-img" alt="USA">
                        <img src="assets/images/usa.png" class="flag-icon" alt="USA flag">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-white">Study in USA</h5>
                            <button class="btn btn-pink">Know More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="assets/images/Australia.webp" class="card-img" alt="Australia">
                        <img src="https://flagcdn.com/w40/au.png" class="flag-icon" alt="Australia flag">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-white">Study in Australia</h5>
                            <button class="btn btn-pink">Know More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="assets/images/Canada.webp" class="card-img" alt="Canada">
                        <img src="assets/images/world.png" class="flag-icon" alt="Canada flag">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-white">Study in Canada</h5>
                            <button class="btn btn-pink">Know More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3" style="display: flex; justify-content: end;">
        <button class="custom-carousel-control me-2" type="button"data-bs-target="#courseCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="custom-carousel-control" type="button" data-bs-target="#courseCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="text-center mt-4 mb-5">
    <button class="btn btn-outline" style="background-color: red; color: #fff">Know More</button>
</div>
</div>
<div class="overlay" style=" background-image: url('assets/images/courses-bg.png');
background-size: cover;border-radius: 60px;
background-repeat: no-repeat;
background-attachment: fixed;
color: white;">
<div class="container pt-5">
    <h2 class="mb-4">Popular Courses</h2>
    <div id="courseCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex flex-wrap justify-content-center">
                    <button class="course-btn" >BS International Business</button>
                    <button class="course-btn">Doctor of Medicine</button>
                    <button class="course-btn">Finance</button>
                    <button class="course-btn">Computer Science</button>
                    <button class="course-btn">BS Computer Science</button>
                    <button class="course-btn">MBA Project Management</button>
                    <button class="course-btn">Information Technology</button>
                    <button class="course-btn">Nursing</button>
                    <button class="course-btn">International Business</button>
                    <button class="course-btn">Fintech Management</button>
                    <button class="course-btn">Accounting and Finance</button>
                    <button class="course-btn">Psychology</button>
                </div>
            </div>
        </div>
        
  
        <div class="text-center mt-0" style="display: flex; justify-content: end;">
            <button class="custom-carousel-control me-2" type="button"data-bs-target="#courseCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="custom-carousel-control" type="button" data-bs-target="#courseCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="text-center mt-0">
        <button class="view-more-btn mb-2">View More</button>
    </div>
</div>
</div>

<section class="success-stories" style="display: none;">
<div class="container">
    <h1>Our <span>Success Stories</span></h1>
    <div id="successCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="testimonial testimonial-pink">
                            <div class="quote">"</div>
                            <p>AppDesk has truly transformed my study abroad journey. From the initial consultation to the final steps of my application, the team was there to guide and support me at every turn. Their detailed knowledge and personalised advice helped me navigate the complexities of international education with ease.</p>
                            <p class="student-name">Rudra</p>
                            <p class="student-title">Student</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial testimonial-blue">
                            <div class="quote">"</div>
                            <p>Choosing AppDesk was the best decision I made for my study abroad plans. The team's professionalism and dedication were evident from the start. They provided comprehensive guidance on everything from selecting the right university to preparing for interviews and securing good scores.</p>
                            <p class="student-name">Meenakshi</p>
                            <p class="student-title">Student</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial testimonial-pink">
                            <div class="quote">"</div>
                            <p>AppDesk made my dream of studying abroad a reality. From the moment I reached out to them, they provided exceptional support and guidance. The team was incredibly knowledgeable about different programs and institutions, helping me find the perfect match for my academic and career goals.</p>
                            <p class="student-name">Lakshay</p>
                            <p class="student-title">Student</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="testimonial testimonial-pink">
                            <div class="quote">"</div>
                            <p>AppDesk has truly transformed my study abroad journey. From the initial consultation to the final steps of my application, the team was there to guide and support me at every turn. Their detailed knowledge and personalised advice helped me navigate the complexities of international education with ease.</p>
                            <p class="student-name">Rudra</p>
                            <p class="student-title">Student</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial testimonial-blue">
                            <div class="quote">"</div>
                            <p>Choosing AppDesk was the best decision I made for my study abroad plans. The team's professionalism and dedication were evident from the start. They provided comprehensive guidance on everything from selecting the right university to preparing for interviews and securing good scores.</p>
                            <p class="student-name">Meenakshi</p>
                            <p class="student-title">Student</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial testimonial-pink">
                            <div class="quote">"</div>
                            <p>AppDesk made my dream of studying abroad a reality. From the moment I reached out to them, they provided exceptional support and guidance. The team was incredibly knowledgeable about different programs and institutions, helping me find the perfect match for my academic and career goals.</p>
                            <p class="student-name">Lakshay</p>
                            <p class="student-title">Student</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Add more carousel items here if needed -->
        </div>
  
        <div class="text-center mt-3" style="display: flex; justify-content: end;">
            <button class="custom-carousel-control me-2" type="button"data-bs-target="#successCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="custom-carousel-control" type="button" data-bs-target="#successCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
</section>


